.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 1300px;
    height: 976px;
    height: auto;
    margin: 50px auto 0px;
  }
  
  .NewsCard__search-p{
    position: absolute;
    font-size: 40px;
    line-height: 46px;
    top:600px
  }
  
  
  /* Container holding all cards */
.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Responsive */
  gap: 20px;
  padding: 20px;
  margin-top: 150px;
}

/* Each card */
.news-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  position: relative;
  
}

.news-card:hover {
  transform: scale(1.02);
}

.news-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.news-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.news-card p {
  font-size: 14px;
  color: #1A1B22;
  margin-bottom: 10px;
}

.news-card a {
  margin-top: auto;
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold;
}
.Showmore__btn{
  height: 64px;
  width: 288px;
  border-radius: 80px;
  margin: 64px auto 80px;
}
.Showmore__btn:hover{
  background-color: #e8e8e8;
}
.news__save_btn{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  background-image: url(../../assets/bookmark.png);
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.news__save_btn:hover{
  background-image: url(../../assets/hover-bookmark.png);
}
.news__save_btn.saved{
  background-image: url(../../assets/saved__btn-marked.png);
}

.news__sourceName{
  color: #555;
}
.news__delete-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  background-image: url(../../assets/trash-nohover.png);
  background-color: white;
  border: none;
  border-radius: 8px;
  background-repeat: no-repeat;
}
.news__delete-btn:hover{
  background-image: url(../../assets/trash.png);
}