.About{
 max-width: 1440px;
 height: 624px;
 display: flex;
 align-items: center;
 background-color: #fff;
 position: relative;
}
.about_me-avatar{
    margin-left: 104px;
    margin-right: 56px;
    height: 464px;
    width: 464px;
    border-radius: 1000px;
    
}
.around__circle{
  position: relative;
   height: 170px;
   max-width: 600px;
   top:-100px;
   left:0px;
}
.about__subtext,.about__subtext_2{
    max-width: 600px;
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
.about__subtext{
    margin-bottom: 20px;
}
.About__title{
    font-family: "Roboto Slab";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@media (width<1025px) {
    .about_me-avatar{
        height: 332px;
        width: 332px;
        margin-left: 40px;
        margin-right: 32px;
    }
    .about__subtext,.about__subtext_2{
        max-width: 424px;
        height: 100px;
        overflow: scroll;
    }
    .around__circle {
        position: absolute;
        height: 170px;
        max-width: 600px;
        top: 150px;
        left: 450px;
    }
  }
@media (width<861px) {
    .about_me-avatar{
        height: 332px;
        width: 332px;
        margin-left: 40px;
        margin-right: 32px;
    }
    .about__subtext,.about__subtext_2{
        max-width: 424px;
        height: 100px;
        overflow: scroll;
    }
    .around__circle {
        position: absolute;
        height: 170px;
        max-width: 600px;
        top: 131px;
        left: 400px;
    }
  }
  @media (width<=769px) {
    .about_me-avatar{
        height: 232px;
        width: 232px;
        margin-left: 40px;
        margin-right: 32px;
    }
    .about__subtext,.about__subtext_2{
        max-width: 424px;
        height: 100px;
        overflow: scroll;
    }
    .around__circle {
        
        height: 168px;
        max-width: 424px;
        top: 165px;
        left: 302px;
    }
  }

  @media (width<545px ) {
    .around__circle{
        top: 50px;
    }
    .about__subtext,.about__subtext_2{height: auto;
    width: 150px;
    }
}

  @media (width<426px ) {
    .About{
        flex-direction: column;
    }
    .About__title{
        font-size: 30px;
        text-align: center;
    }
    .about_me-avatar{
        height: 272px;
        width: 272px;
        margin-top: 20px;
    }
    .around__circle {
        height: 168px;
        max-width: 424px;
        position: relative;
        top: 0;
        left: 7px;
    }
    .about__subtext,.about__subtext_2{
        height: fit-content;
        width: 350px;
        }
    }
    @media (width<376px ) {
        .about__subtext,.about__subtext_2{
            height: fit-content;
            max-width: 288px;
            }
    }
    @media (width<321px ) {
        .about__subtext{
            width: 280px;
        }
    }