.modal__login-button{
    display: flex;
    position: relative;
    top: 87px;
    left: 145px;
    opacity: .5;
    background: none;
    border: none;
    margin-left: 8px;
    background-color: transparent;
    border:none;
    font-family:"inter";
    font-weight: 500;
}
@media (width<426px) {
    .modal__login-button{
      left:130px;
    }
}
@media (width<376px) {
    .modal__login-button{
      left:100px;
    }
}
@media (width<321px) {
    .modal__login-button{
      left:90px;
    }
}