.modal__signup-button{
    display: flex;
    position: relative;
    top: 87px;
    left: 140px;
    opacity: .5;
    background: none;
    border: none;
    margin-left: 8px;
    background-color: transparent;
    border:none;
}
