.searchBar__container{
    display: flex;
    position: relative;
    top:-140px;
    left: 70px;
    width: 776px;
}
.searchBar__container-input{
    text-indent: 25px;
    height: 64px;
    width: 608px;
    border-radius: 75px;
    border: none;
}
.searchbar__container-btn{
    background-color:#2F71E5;
    color: white;
    border:none;
    position: absolute;
    right:163px;
    top: -1px;
    height: 70px;
    width: 168px;
    border-radius: 75px;
    cursor: pointer;
}
.searchbar__container-btn:hover{
    background-color: #347EFF;
    
}
.searchbar__container-btn:active{
    background-color:#2A65CC;
}
@media (width<=769px) {
    .searchBar__container{
        top:-140px;
        left: 0px;
        max-width: 448px;
    }
    .searchBar__container-input{
       max-width: 448px;
       height: 56px;
    }
    .searchbar__container-btn{
    right:-1px;
    top: 0px;
    height: 60px;
    width: 160px;
    }
}
@media (width<426px ) {
   .searchBar__container{
    width: 100%;
    top:-120px;
    margin: 0 16px 0 16px;
    justify-content: space-around;
   }
   .searchBar__container-input{
    width: 288px;
   }
   .searchbar__container-btn{
    width: 288px;
    top: 70px;
    right: 65px;
   }
  }
  
  @media (width<376px ) {
    .searchbar__container-btn{
        right: 45px;
    }
    }
    @media (width<322px ) {
        .searchbar__container-btn{
            right: 15px;
        }
        }
