.search__bar-container{
    display: flex;
    position: relative;
    top:-100px;
    left: 70px;
    width: 776px;
}
.search__input{
    height: 64px;
    width: 608px;
    border-radius: 75px;
    border: none;
}
.search__btn{
    background-color:#2F71E5;
    color: white;
    border:none;
    position: absolute;
    right:163px;
    top: -1px;
    height: 70px;
    width: 168px;
    border-radius: 75px;
    cursor: pointer;
}