.Preloader{
  max-width: 1440px;
  height: 374px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.circle-preloader {
    width: 74px;
    height: 74px;
    border: 4px solid #444;
    border-bottom-color: #888;
    border-radius: 50%;
    position: relative;
    top: 90px;
    left:0px;
    margin: auto;
    animation: spin .75s infinite linear;
  }
  .Preloader__Error-img{
    position: relative;
    top: 0;
    right: -130px;
  }
  .Preloader__text{
    position: relative;
    left: 0;
    bottom: -26%;
    height: 20px;
    color: #B6BCBF;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
  }

  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  /* styling for 404 error*/
  .Preloader_Error{
    margin: 56px auto;
  }

.text{
  width: 356px;

}
.Preloader__Main-text{
  height: 30px;
  font-size: 26px;
  color:#1a1b22;
  margin: 31px auto 0 auto;
  text-align: center;
  font-family: "Roboto Slab";
  font-weight: 500;
}
.preloader__subtext{
  height: 48px;
  font-size: 18px;
  color: #B6BCBF;
  margin: 16px auto 80px auto;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
}
@media (width<376px) {
  .Preloader_Error{
    width: 300px;
  }
  .preloader__subtext,.Preloader__Main-text{
    width: 300px;
    margin: 30px auto;
  }
  .text{
    width: 300px;
  }
  .Preloader__Error-img{
    right: -100px;
  }
}
